@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root {
    --black: #111;
    --dark: #386641;
    --medium: #6a994e;
    --green: #a7c957;
    --light: #f2e8cf;
    --white: #efefef;
    --red: #bc4749;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: var(--light);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#header {
    width: 100%;
    position: fixed;
    background-color: var(--white);
    border-bottom: 1px solid var(--dark);
    z-index: 99;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    position: relative;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
}

#header .logo {
    font-weight: bold;
    font-size: 1.3rem;
}

#header .header-items .btn {
    cursor: pointer;
    font-size: 1.2rem;
    background-color: var(--green);
    border: none;
    border-radius: 50%;
    padding: 8px 10px;
}

#header .header-items .btn:focus {
    outline: none;
}

#header .header-items .btn:active {
    transform: scale(0.98);
}

#header .header-items .nav-bars-btn {
    display: none;
}

#header.guest .header-items .nav-bars-btn {
    display: initial;
}

#header.guest .header-items .sign-up-btn {
    display: none;
}

#header #nav {
    position: fixed;
    background-color: var(--dark);
    color: var(--white);
    width: 100%;
    left: 0;
    top: -500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100px;
    z-index: 100;
}

#header #nav.show {
    top: 0;
    animation: nav-expand .3s;
}

#header #nav.collapse {
    animation: nav-collapse .5s;
}

@keyframes nav-expand {
    0% {
        top: -500px;
    }
    100% {
        top: 0;
    }
}

@keyframes nav-collapse {
    0% {
        top: 0;
    }
    100% {
        top: -500px;
    }
}

#header.guest #nav .initial {
    display: none;
}

#header #nav .guest {
    display: none;
}

#header.guest #nav .guest {
    display: initial;
}

#header #nav ul {
    width: 100%;
}

#header #nav ul li button {
    width: 100%;
    border: none;
    background-color: var(--dark);
    color: var(--white);
    padding: 25px 0;
    cursor: pointer;
}

#header #nav ul li button:focus {
    outline: none;
}

#header #nav ul li button:hover {
    background-color: var(--medium);
}

.main-container {
    flex: 1;
    max-width: 600px;
    padding: 0 30px;
    margin-top: 110px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-container h1 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;
}

.reviews-container .review {
    position: relative;
    background-color: var(--white);
    border: 1px solid var(--dark);
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px 25px;
    width: 100%;
}

.reviews-container .review .title {
    font-size: 1.3rem;
    margin-bottom: 10px;
    text-decoration: underline;
}

.reviews-container .review .about {
    display: none;
}

.reviews-container .review.show .about {
    display: flex;
}

.reviews-container .buttons-container {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.reviews-container .buttons-container .fa-solid {
    font-size: 1.2rem;
}

.reviews-container .buttons-container button {
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.reviews-container .buttons-container .upvote {
    color: var(--medium);
    border: 1px solid var(--medium);
}

.reviews-container .buttons-container .downvote {
    color: var(--red);
    border: 1px solid var(--red);
}

.reviews-container .buttons-container .upvote:focus,
.reviews-container .buttons-container .downvote:focus {
    outline: none;   
}

.reviews-container .buttons-container .upvote:hover,
.reviews-container .buttons-container .downvote:hover {
    opacity: 0.7;
}

.reviews-container .buttons-container button small {
    margin-left: 6px;
    padding-top: 1px;
}

.reviews-container .review .category {
    font-size: 0.7rem;
}

.reviews-container .review .expansion-buttons {
    height: 20px;
}

.reviews-container .review .expand button,
.reviews-container .review .collapse button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    border-radius: 0 0 5px 5px;
    font-size: 1.2rem;
    background-color: #ddd;
    cursor: pointer;
}

.reviews-container .review .expand button:focus,
.reviews-container .review .collapse button:focus {
    outline: none;
}

.reviews-container .review .collapse {
    display: none;
}

.reviews-container .review.show .collapse {
    display: initial;
}

.reviews-container .review.show .expand {
    display: none;
}

.main-container .page {
    font-size: 1.4rem;
    margin: 20px 0 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    align-self: center;
}

.main-container .page button {
    padding: 5px 8px;
    margin: 0 15px;
    border: 1px solid var(--dark);
    border-radius: 6px;
    cursor: pointer;
    color: var(--dark);
}

.main-container .page button:focus {
    outline: none;
}

.main-container .page button:hover {
    background-color: var(--green);
}

.main-container .page button:active {
    transform: scale(0.98);
}

.main-container .page button .fa {
    font-weight: bold;
    font-size: 1.1rem;
}